
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #9f7aea , #ed64a6 , #f56565 );
  border: 2px solid black;
}

.card {
  background-color: #f2f4f4;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  border: 4px solid black;
  transition: border-color 0.3s;
}

.card:hover {
  border-color: #805ad5;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #4a5568;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.button {
  width: 8rem;
  height: 4rem;
  border-radius: 9999px; /* Fully rounded */
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  font-size: 23px;
}

.button.increment {
  background-color: #48bb78; 
}

.button.increment:hover {
  background-color: #38a169; 
  transform: scale(1.05);
}

.button.decrement {
  background-color: #ed8936; 
}

.button.decrement:hover {
  background-color: #d65f2d; 
  transform: scale(1.05);
}

.button.reset {
  background-color: #5a67d8; 
}

.button.reset:hover {
  background-color: #4c51bf; 
  transform: scale(1.05);
}
